* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* CSS HEX */
--primary: #ffffff;
--secondary: #f2f2f2;
--tertiary1: #4f5d75;
--tertiary2: #2d3142;
--tertiary3: #e98a15;
}

@media only screen and (min-width: 330px) and (max-width: 600px){

    body {
        display: flex;
        flex-direction: column;
        background-color: var(--primary);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    header {
        width: 100%;
        min-height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--secondary);
    }

    nav {
        visibility: hidden;
    }
   
    header > #sectionone > #hamburger {
        max-height: 7vh;
        padding: 0.25rem;
    }
  
    header > #sectiontwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    header > #sectiontwo > p {
        color: var(--tertiary3);
        font-size: x-large;
        font: bold;
        justify-content: center;
        align-items: center;
    }

    header > #sectionthree > #logo {
        max-height: 7vh;
        padding: 0.25rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
    }

    main > #main_page_img1 > img {
        width: 100vw;
        max-height: 30vh;
        object-fit: cover;

    }

    main > #main_page_content {
        background-color: var(--secondary);
        max-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main > #main_page_content > h1 {
        color: var(--tertiary3);
        font-size: xx-large;
        width: 33vw;
        padding: 1rem;
        text-align: center;
        line-height: 2rem;
    }

    main > #main_page_content > p {
        text-align: center;
    }

    main > #main_page_content > button {
        background-color: var(--tertiary3);
        padding: 0.25rem 1rem;
        border-radius: 3rem;
    }
    footer {
        min-height: 5vh;
    }
    
    footer > p {
        color: var(--tertiary3);
        background-color: var(--secondary);
        font-size: large;
        font-weight: 500;
    }

}

@media only screen and (min-width: 600px) and (max-width: 900px){
body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    min-height: 15vh;
}

header > p {
    color: var(--tertiary3);
    font-size: xx-large;
    font-weight: bold;
}

#hamburger {
    max-height: 7vh;
}

nav a {
    color: var(--primary);
    border: 1px solid var(--primary);
    font-size: smaller; 
    text-decoration: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

nav a:hover {
    background-color: var(--tertiary3);
}

main {
    min-height: 80vh;
    padding: 1rem;
}

/*Select the first image that is a first-level child of main*/
main > img:nth-of-type(1) {
    width: 100%;  
    padding: 0 3rem;
    height: 30vw;  
    max-height: 50vh;
    object-fit: cover;
}

#section1 > img {
    padding: 0 0.5rem;
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
}

h1, p {
    margin: 0.5rem 0;

}

h1 {
    color: var(--tertiary3);
}


p {
    color: var(--tertiary1)
}

footer {
    min-height: 5vh;
}

footer > p {
    color: var(--tertiary3);
    font-size: large;
    font-weight: 500;
}
}